html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: black;
}

p#phrase {
  font-family: 'Fira Code';
  font-size: 8vw;
  color: whitesmoke;
}

button#shuffle {
  border-radius: 50px;
  border-color: whitesmoke;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 5vw;
  background-color: inherit;
  cursor: pointer;
  transition-duration: 0.3s;
}

button#shuffle:hover, button#shuffle:focus {
  background-color: whitesmoke;
  color: black;
}
